*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgba(169, 169, 169, 0.274);
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.existing-acc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
}

.nav-content a {
  text-decoration: none;
  color: cornflowerblue;
}

#nav-btn {
  width: 100px;
  height: 37px;
  background-color: rgba(15, 66, 160, 0.87);
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.main-logo {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.logo {
  width: 130px;
  height: 40px;
  margin: auto;
  color: rgba(169, 169, 169, 0.274);
}

.main-links a {
  text-decoration: none;
  color: darkgrey;
  margin-right: 10px;
}

.main-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.turbotax {
  display: flex;
}

.fa-check-circle {
  font-size: 30px;
  border-radius: 50%;
  color: rgba(139, 0, 0, 0.589);
  margin-right: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.692);
  background-color: white;
  border-radius: 3px;
}

h4 {
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.548);
}

.one-account a {
  text-decoration: none;
  color: cornflowerblue;
}

.one-account {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 7%;
  margin-right: 7%;
}

.personal-info {
  width: 350px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.329);
  margin-top: 10px;
  padding: 10px;
}

.info-label {
  margin-left: 6.5%;
  color: rgba(0, 0, 0, 0.5);
}

#submit {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(15, 66, 160, 0.87);
  color: white;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  font-size: 18px;
}

.calls {
  font-size: 12px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 6.5%;
}

#phone {
  margin-bottom: 5px;
}

#email {
  margin-bottom: 40px;
}

.terms-and-conditions a {
  text-decoration: none;
  color: cornflowerblue;
}

.terms-and-conditions {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 10px;
  line-height: 20px;
}

.form-foot {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(169, 169, 169, 0.274);
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.form-foot a {
  text-decoration: none;
  color: cornflowerblue;
}

.footer {
  line-height: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 30px;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.legal a {
  margin-right: 10px;
}

.privacy-settings {
  border-radius: 3px;
  background-color: rgba(44, 41, 41, 0.685);
  color: white;
  text-align: center;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  right: 50px;
}

.privacy-settings a {
  text-decoration: none;
  color: white;
}

.nav-content a:hover {
  text-decoration: underline;
}

.one-account a:hover {
  text-decoration: underline;
}

.terms-and-conditions a:hover {
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: underline;
}
